/** Navigation styles */

.header {
    &__top-bar {
        display: none;
        &--primary {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        @include screen-greater-than( tablet ) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__main-navigation {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        justify-content: space-between;
        > div {
            width: 30%;
        }
        @include screen-greater-than( tablet )
        {
            flex-direction: row;
            align-items: center;
            // > div {
            //     width: 25%;
            // }
            &--menu {
                width: 15%!important;
            }
            &--logo {
                width: 15%!important;
                max-width: 100px;
            }
            &--search {
                width: 45%!important;
                padding-left: 2%;
                input {
                    width: 100%;
                }
            }
        }
        &--cart {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        &--search {
            display: none;
            @include screen-greater-than( tablet )
            {
                display: inline-block;
            }
        }
    }
}